@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');

html {
  font-family: 'Padauk', sans-serif;
  margin-left: 6px;
}

#songTable, #ratingTable {
  width: 50%;
  margin-bottom: 5px;
  box-shadow: 0px 0px 4px rgb(110, 110, 110);
}

#signInCard {
  width:26%;
  box-shadow: 0px 0px 3px rgb(117, 117, 117);
}

#signinUsername, #signinEmail, #signinButton {
  width: 90%;
  margin-left: 5px;
}


th {
  /* border: 2px solid black; */
  width: 1fr;
  font-weight: 400;
}

input {
  margin-top: 5px;
  margin-right: 5px;
}

button {
  padding: 5px 5px;
  margin: 2px 5px;
  vertical-align: middle;
}